{
    "extends": ["react-app", "prettier", "plugin:jest/recommended"],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    },
    "parser": "babel-eslint",
    "rules": {
        "import/no-anonymous-default-export": 0
    }
}
