{
    "extends": [
        "react-app",
        "prettier",
        "prettier/react",
        "plugin:jest/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    },
    "parser": "babel-eslint",
    "rules": {
        "no-useless-escape": "off"
    }
}
